<!DOCTYPE html>
<html>

<head>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <title>Order Status</title>
  </head>

<body>
  <%- include('partials/_header') %>
    <h1>Order Status</h1>
    <% if (status) { %>
      <p>Order ID: <%= status.id %>
      </p>
      <p>Status: <%= status.status %>
      </p>

      <% } else { %>
        <p>No order status available.</p>
        <% } %>
</body>

</html>