<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <title>Login</title>

</head>

<body>
  <%- include('partials/_header') %>



    <div class="container">
      <h1 class="text-center">Login</h1>

      <div class="login-form">
        <form action="/restaurant-login" method="POST">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="formGroupExampleInput"
              placeholder="example@gmail.com">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="formGroupExampleInput2"
              placeholder="Password">
          </div>
          <% if (error) { %>
            <div class="error text-danger">Invalid credentials</div>
            <% } %>

              <button class="btn" type="submit">Login</button>

        </form>
      </div>
    </div>
</body>

</html>