.login-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
.login-form input:focus {
  box-shadow: none;
  border-color: #084F20;
}
.login-form button {
  border-radius: 700px;
  background: #084F20;
  padding: 15px 30px;
  margin: 0 auto;
  display: flex;
  color: #FFF;
  border: 1px solid #084F20;
}
.login-form button:hover, .login-form button:focus {
  background: #fff;
  color: #084F20;
  box-shadow: none;
}