.menu-page .cover-photo {
  width: 100%;
}
.menu-page .cover-photo img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.menu-page .restaurant-header {
  background: #fff;
  padding: 30px 0;
}
.menu-page .restaurant-header h1 {
  margin: 0;
}
.menu-page .restaurant-header .restaurant-details {
  display: flex;
  gap: 20px;
}
.menu-page .menu-item {
  background: #FFF;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 50px;
}
.menu-page .menu-item .menu-item-info .menu-item-actions {
  display: flex;
  align-items: center;
}
.menu-page .menu-item .menu-item-info .menu-item-actions .add-to-order {
  background: #084F20;
  border: 1px solid;
  border-radius: 700px;
  color: #FFF;
  padding: 15px 30px;
  margin-left: 30px;
}
.menu-page .menu-item .menu-item-info .menu-item-actions .quantity {
  display: flex;
  align-items: center;
}
.menu-page .menu-item .menu-item-info .menu-item-actions .quantity button {
  border-radius: 7px;
  background: #FFF;
  border: 1px solid;
  width: 30px;
  height: 30px;
}
.menu-page .menu-item .menu-item-info .menu-item-actions .quantity p {
  margin: 0 10px;
}
.menu-page .menu-item .menu-item-photo img {
  max-width: 100%;
  border-radius: 8px;
  height: 150px;
  object-fit: cover;
  width: 100%;
}
.menu-page .cart-container {
  background: #FFF;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 50px;
}
.menu-page .cart-container .cart-item .itemName,
.menu-page .cart-container .cart-item .itemQuantity {
  margin-bottom: 0;
}
.menu-page .cart-container .totalPrice {
  border-bottom: 1px solid;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.menu-page .cart-container .cart-total {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.menu-page .cart-container form {
  margin-top: 50px;
  text-align: center;
}
.menu-page .cart-container form label {
  color: #4b4b4b;
}
.menu-page .cart-container form input {
  width: 100%;
  margin-bottom: 8px;
  border: none;
  border-bottom: 1px solid;
}
.menu-page .cart-container form button {
  background: #084F20;
  border: 1px solid;
  border-radius: 700px;
  color: #FFF;
  padding: 15px 30px;
  margin: 30px auto 0;
}